@-webkit-keyframes projectTitleIn {

  from {
    -webkit-transform: translate(-100%, -30%);
  }
  to {
    -webkit-transform: translate(25%, -30%);
  }
}

@-webkit-keyframes projectImageIn {

  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
